@{
    ViewData["Title"] = "Home Page";
    var productsUrl = Url.Action("Index", "Product");
}
@* Only show header on Home page *@


<div class="text-center my-5">
    @await Html.PartialAsync("_Header")
    @if (User.Identity.IsAuthenticated)
    {
        <a href="@productsUrl" class="btn btn-accent">Explore Products</a>
    }
    else
    {
        <a href="@Url.Page("/Account/Login", new { area = "Identity", ReturnUrl = productsUrl })" class="btn btn-accent">Explore Products</a>
    }
</div>
