@model IEnumerable<FitnessEquipmentShop.Data.Models.Entities.Wishlist>

@{
    ViewData["Title"] = "Whishlist";
}

<h2>Whishlist</h2>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Product.Price lv.</td>
                <td>
                    <a href="@Url.Action("Remove", "Wishlist", new { id = item.Id })" class="btn btn-danger">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
