@model IEnumerable<FitnessEquipmentShop.Data.Models.Entities.CartItem>

@{
    ViewData["Title"] = "Cart";
}

<h2>Cart</h2>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Product.Price lv.</td>
                <td>
                    <a href="@Url.Action("Remove", "Cart", new { id = item.Id })" class="btn btn-danger">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "Order")" class="btn btn-success">Order</a>
